.mainbody {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('Images/BGblack2.jpg');
    background-repeat: repeat;
    display: flex;
}

.daytimebody {
    background-image: url('Images/WhiteBG2.png');
}

.mainlogo {
    text-align: center;
    height: 200px;
    margin-top: 0px;
    padding-top: 60px;
    margin-bottom: 100px;
}

.mainflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.searchbar {
    width: 40%;
    height: 30px;
    text-align: right;
    border-style: none;
    border-radius: 1px;
    padding-right: 15px;
}

.daytimeSearch {
    border: 2px solid #383737;
    border-radius: 2px;
}

.searchbar:focus{
   outline: none;
}
.searchfunction {
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.buttonclass {
    height: 50px;
    font-size: 16px;
    width: 150px;
    font-family: 'Lobster', cursive;
    margin-right: 5px;
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 46%,#6d0019 100%);
    border: 3px solid whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
    transition: ease;
}

.buttonclass:hover {
    border: 3px solid #383737;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.daytimeBTN {
    color: black;
    background: linear-gradient(to bottom, #ec2352 0%,#eb0f42 46%,#a00f31 100%);
    border: 3px solid #383737;
}

.daytimeBTN:hover {
    border: 3px solid whitesmoke;
    text-shadow:
		-1px -1px 0 whitesmoke,
		1px -1px 0 whitesmoke,
		-1px 1px 0 whitesmoke,
		1px 1px 0 whitesmoke;

}

.buttonclass:focus {
    outline: none;
}

.postbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.post {
    padding: 10px;
    width: 90%;
    display: flex;
    opacity: .90;
    margin: 20px;
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 46%,#6d0019 100%);
    border: 10px solid whitesmoke;
    height: 100%;
    background-origin: unset;
    border-radius: 10px;
    justify-content: space-around;
}

.daytimePosts {
    background: linear-gradient(to bottom, #ec2352 0%,#eb0f42 46%,#a00f31 100%);
    border: 10px solid #383737;
    padding: 10px;
    width: 90%;
    display: flex;
    opacity: .90;
    margin: 20px;
    height: 100%;
    background-origin: unset;
    border-radius: 10px;
    justify-content: space-around;
}

.location {
    font-size: 32px;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.author {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.postcontent {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lobster', cursive;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 15px;
    padding: 10px;

}

.ratinggem {
    height: 40px;
    padding: 5px;
}

.posttext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 45%;
}

.googleIMG {
    height: 250px;
    width: 250px; 
    flex-basis: 20%;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 15px;
}

label {
    font-size: 16px;
    font-family: 'Lobster', cursive;
}

.datetime {
    font-size: 16px;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.previous, .next {
    cursor: pointer;
}

.deletePost {
    font-family: Arial;
    font-weight: bolder;
    color: white;
    visibility: hidden;
}

.nightmode {
    color: blue;
    border: 2px solid red;
    height: 10%;
}

.nav-buttons {
    text-align: right;
    margin-right: 80px;
}

.nextprev {
    font-size: 14px;
    width: 70px;
    margin-right: 0;
    height: 30px;
}



