body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
}

.mainlogo {
    text-align: center;
    height: 200px;
    margin-top: 25px;
    padding-top: 60px;
}

.headertext {
    font-family: "Aguafina Script";
    background-color: rgba(169, 169, 169, 0.651);
    background-image: url('Images/gem.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid darkred;
    border-radius: 25px;
    padding: 50px;
    font-size: 82px;
    color: whitesmoke;
    margin-top: 50px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.mainflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.searchbar {
    width: 40%;
    height: 30px;
    text-align: right;
    border: 1px transparent black;
    border-radius: 3px;
    padding-right: 15px;
}

.searchbar:focus{
   outline: none;
}
.searchfunction {
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.buttonclass {
    height: 50px;
    font-size: 16px;
    width: 150px;
    font-family: Lobster;
    margin-right: 5px;
    background-color: crimson;
    border: 3px solid darkred;
    border-radius: 5px;
    transition: ease;
}

.buttonclass:hover {
    font-size: 18px;
    transition: ease;
}

.buttonclass:focus {
    outline: none;
}

.postbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.post {
    padding: 10px;
    width: 90%;
    display: flex;
    background: darkred;
    border: 3px solid whitesmoke;
    border-radius: 10px;
}

.location {
    font-size: 32px;
    padding-top: 20px;
    font-family: Lobster;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.author {
    font-size: 20px;
    font-family: Lobster;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.postcontent {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Lobster;
}

.ratinggem {
    height: 40px;
    padding: 20px;
}

.posttext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}