.modaloutter {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transform: scale(2);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modalcontent {
    display: flex;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, azure, darkgray);
    padding: 25px;
    width: 50%;
    height: 75%;
    border-radius: 10px;
    border: 2px solid black;

}

.showmodal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



.closebutton {
    float: top;
    height: 1.3rem;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.288);
    color: rgba(0, 0, 0, 0.712);
}

.closebutton:hover {
    border: 1px solid black;
    color: black;
}

.submissionform {
    flex-basis: 95%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.usernameinput {
    text-align: center;
    font-size: 18px;
    font-family: 'Cabin';
    height: 15px;
    width: 80%;
    padding: 3px;
}

.placeType {
    width: 90%;
    text-align: center;
    font-family: 'Cabin';
    font-size: 16px;
    padding: 2px;
}

.locationinput {
    font-family: 'Cabin';
    font-size: 18px;
    height: 15px;
    width: 100%;
    padding: 2px;
}

.experienceinput {
    font-family: 'Cabin';
    font-size: 14px;
    padding: 3px;
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
    text-align: top;
    padding-left: 5px;
}

.newgembutton {
    padding-left: 5px;
    height: 50px;
    font-size: 16px;
    width: 90%;
    font-family: Lobster;
    margin-right: 5px;
    background-color: rgba(220, 20, 60, 0.849);
    border: 3px solid darkred;
    border-radius: 5px;
    transition: ease;
}
.newgembutton:hover {
    font-size: 16px;
    color: whitesmoke;
    transition: ease;
}

.newgembutton:focus {
    outline: none;
}

@media (min-width: 768px) {
    .newgembutton {
        width: 50%; 
    }
}

@media (min-width: 1024px) {
    .newgembutton {
        width: 30%; 
    }
}